body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}


canvas {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 48px;
  color:black;
}

#bigote {
  display: none;
}

/* Estilos de los select de Materialize */
ul.dropdown-content.select-dropdown li span {
  color:#1889ca;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #1889ca;
  box-shadow: 0 1px 0 0 #1889ca;
}